@import './base.css';

/* 隐藏滑条 */
html, body {
  overflow: hidden;
}

/* Chrome, Safari, Edge 滑条隐藏 */
::-webkit-scrollbar {
  display: none;
}

/* Firefox 滑条隐藏 */
* {
  scrollbar-width: none;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0rem;
  }
}
